{%  extends "base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
    <h3><a href="/learning_logs/topics/{{ topic.id }}">{{ topic }}</a></h3>

    <form action="/learning_logs/new_entry/{{ topic.id }}/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">edit entry</button>
    {% endbuttons %}
    </form>


{% endblock content %}